body {
  background-color: antiquewhite;
}

.App {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}

input {
  display: block;
  margin: 8px 0;
}

.btnDelete {
  width: 40px;
  height: 15px;
  font-size: 8px;
  vertical-align: top;
}

.contactName,
.contactNumber {
  margin-right: 10px;
}
